.home_title {
  display: flex;
  flex-direction: column;
  align-items: center;

  .budget {
    margin-top: 50px;
    font-size: 20px;
    color: #ffa100;
  }
  .budget_sum {
    font-size: 50px;
    margin-top: -10px;
  }
}
.last_expense {
  border-top: 3px solid #ffa100;
  display: flex;
  justify-content: center;
  align-items: center;
  .expenses {
    margin-top: 15px;
    list-style-type: none;
    .table_title {
      font-size: 20px;
      text-align: center;
      th {
        border-right: 2px solid #ffa100;
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: 2px solid #ffa100;
      }
      th:last-child {
        border-right: none;
      }
    }
    tbody {
      .table_cell {
        border-right: 2px solid #ffa100;
        padding: 8px 5px 8px 5px;
        text-align: center;
      }
      .table_cell:last-child {
        border-right: none;
      }
    }


    .expenses_error {
      font-size: 20px;
      color: white;
    }
  }
}
.last_expense_title {
  margin-top: 50px;
  text-align: center;
  font-size: 25px;
}
.home_buttons {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  .btn {
    text-decoration: none;
    padding: 10px;
    background-color: #ffa100;
    border-radius: 10px;
  }
}

@media screen and (min-width: 800px) {
  .home_buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  .last_expense {
    .expenses {
      .table_title {
        font-size: 40px;
        th {
          padding-left: 30px;
          padding-right: 30px;
        }
      }
      tbody {
        .table_cell {
          font-size: 30px;
        }
      }
    }
  }
  .last_expense_title {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .container {
    width: 1400px;
  }

}

