

.wallets {
  font-size: 25px;
  li {
    border-top: 2px solid #ffa100;
    padding: 10px;
    width: 90vw;
  }
  li:last-child {
    border-bottom: 2px solid #ffa100;
  }
}
.my_wallets {
  text-align: center;
}

.wallets_list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.wallet_item {
  display: flex;
  justify-content: space-between;
  margin-left: -30px;
}
.money_input {
  background-color: transparent;
  border: 1px solid #555555;
  font-size: 20px;
  width: 150px;
}
.wallet_btn {
  text-decoration: none;
  padding: 10px;
  background-color: #ffa100;
  border-color: #ffa100;
  border-radius: 10px;
}
.wallet_money.plus {
  color: green;
}
.wallet_money.minus {
  color: red;
}

@media screen and (min-width: 800px){
  .wallets {
    li {
      width: 60vw;
    }
  }
}