.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-bottom: 20px;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.singIn {
  background-color: transparent;
  border: none;
  color: white;
  margin-top: 130px;
}
.singInBtn {
  text-decoration: none;
  padding: 10px;
  background-color: #ffa100;
  border-radius: 10px;
  border-color: #ffa100;
}

.login {
  text-decoration: none;
  padding: 10px;
  background-color: #ffa100;
  border-radius: 10px;
  border-color: #ffa100;
}

.form {
  display: flex;
  flex-direction: column;
}
.shortLogo {
  margin-bottom: -60px;

}

.email, .password {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  margin-bottom: 30px;
  text-align: center;
  color: white;
  outline: none;
}

.error {
  color: red;
}